/* HTML */
#tooltip, .tooltip
{
	width: 200px;
	height: 60px;
	border: 1px solid red;
	background-color: #eee;
	text-align: center;
}

/* SVG */
.rg 
{
	fill: none;
	stroke: none;
}

.rg line, .rg path
{
	stroke: #336;
}

.rg text
{
	font-family: arial, verdana, sans-serif;
	font-size: 10px;
	fill: #333;
}

.rg .stream-chart path
{
	stroke: none;
	fill: #ccc;
}