.rg .item-0
{
	border-color: #1f77b4;
	stroke: #1f77b4;
	fill: #1f77b4;
}

.rg .item-1
{
	border-color: #ff7f0e;
	stroke: #ff7f0e;
	fill: #ff7f0e;
}


.rg .item-2
{
	border-color: #2ca02c;
	stroke: #2ca02c;
	fill: #2ca02c;
}

.rg .item-3
{
	border-color: #d62728;
	stroke: #d62728;
	fill: #d62728;
}

.rg .item-4
{
	border-color: #9467bd;
	stroke: #9467bd;
	fill: #9467bd;
}
	
.rg .item-5
{
	border-color: #8c564b;
	stroke: #8c564b;
	fill: #8c564b;
}
	
.rg .item-6
{
	border-color: #e377c2;
	stroke: #e377c2;
	fill: #e377c2;
}
	
.rg .item-7
{
	border-color: #7f7f7f;
	stroke: #7f7f7f;
	fill: #7f7f7f;
}
	
.rg .item-8
{
	border-color: #bcbd22;
	stroke: #bcbd22;
	fill: #bcbd22;
}
	
.rg .item-9
{
	border-color: #17becf;
	stroke: #17becf;
	fill: #17becf;
}