body, html
{
	margin: 0;
	padding: 0;
}

.wide
{
	width : 640px;
	height : 320px;
}

.square
{
	width : 320px;
	height : 320px;
}

.big
{
	width : 780px;
	height : 500px;
}

/*
#chart
{
	width : 480px;
	height : 320px;
	margin: 0 auto;
}
*/